<div class="main_nav_container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-right">
        <div class="logo_container">
          <a href="javascript:void(0)">trend<span>gallery</span></a>
        </div>
        <nav class="navbar">
          <ul class="navbar_menu">
            <li><a routerLink="home">home</a></li>
            <li><a routerLink="shop">shop</a></li>
            <li><a>contact</a></li>
          </ul>
          <!-- <ul class="navbar_user">
            <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            <li class="checkout">
              <a href="#">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <div *ngIf="checkout_number">
                <span id="checkout_items" class="checkout_items"></span>
              </div>
              </a>
            </li>
          </ul> -->
        	<!-- <div class="hamburger_container" (click)="sideMenu.toggle()">


            <mat-sidenav-container>
              <mat-sidenav  #sideMenu>Start</mat-sidenav>
              <mat-sidenav position="end">End</mat-sidenav>
              <section (click)="goToHome()">Home</section>
              <section (click)="goToShop()">Shop</section>
            </mat-sidenav-container>
          </div> -->
        </nav>
      </div>
    </div>
  </div>
</div>

